.logo{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 350px;
    padding-top: 30px;
    border: #706c6c;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
    margin-left: 70px;
}
.main{
    border: 2px solid #8D8D8D;
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
}
.articles{
    display: flex;
    justify-content: space-between;
}
/*partie-box*/
.box{
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
} 
/*partie-button*/
.btn{
    background: transparent;
    border: none;
    font-size: 30px;
}
.btn i:hover{
    cursor: pointer;
} 
/*partie-delete*/
.del{
    background: transparent;
    border: none;
    font-size: 30px;
}
.del i:hover{
    cursor: pointer;
} 
/*partie-icon*/
.icon1{
    display: flex;
    margin-top: 15px;
}
.icon2{
    display: flex;
    margin-top: 15px;
}
.icon3{
    display: flex;
    margin-top: 15px;
}
/* .faSolid{
    background: transparent;
    border: none;
    font-size: 30px;
    color: red;
} */
.basket{
    height: 300px;
    width: 300px;
    border-radius: 5px;
} 
.corp{
    background-color:  #838383;

   
}
.main{
    border-radius: 22px;
    align-items: flex-start;
}
.TU{
    color: rgba(255, 255, 255, 0.95);
}
.pu{
    color: rgba(255, 255, 255, 0.95);
}
.M{
    color: rgba(255, 255, 255, 0.95);
}
.num{
    color: rgba(255, 255, 255, 0.95);
}
.price{
    color: rgba(255, 255, 255, 0.95);
}
.nom{
    color: rgba(255, 255, 255, 0.9);
}
.TC{
    padding-top: 1000px;
}
.sammba{
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 350px;
    padding-top: 35px;
    border: #706c6c;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
    margin-left: 70px;
}
.bnt i:hover{
    cursor: pointer red;
}
.grandiv{
    display: flex;
} 
.cart{
    color: rgba(255, 255, 255, 0.95);
}  
.icon1{
    color: rgba(255, 255, 255, 0.95)
}
.icon2{
    color: rgba(255, 255, 255, 0.95)
}
.icon3{
    color: rgba(255, 255, 255, 0.95)
}
.btn{
    color: rgba(255, 255, 255, 0.95)
}